BODY {
	FONT-SIZE: 100%; FONT-FAMILY: verdana, arial, verdana, helvetica,sans-serif;
}
UL {
	FONT-SIZE: 100%;
}
TD {
	FONT-SIZE: 85%; 
}
TH {
	FONT-SIZE: 100%;
}
P {
        margin-left: 20px; text-align:justify;
}
EM {
	FONT-WEIGHT: bold; FONT-STYLE: italic
}
ACRONYM {
	CURSOR: help; BORDER-BOTTOM: #00cc00 1px dashed
}
FBR {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #990000; 
}
.error {
	COLOR: #cc0000
}
.newsDate {
	FONT-SIZE: 100%; COLOR: #6666cc; FONT-STYLE: italic
}
.sidebar {
	PADDING-RIGHT: 5px; PADDING-LEFT: 5px; FONT-SIZE: 85%; PADDING-BOTTOM: 5px; PADDING-TOP: 5px
}
.sidebar P {
	TEXT-ALIGN: left! important
}
CODE {
	FONT-SIZE: 100%; FONT-FAMILY: Courier, "Courier New", monospace
}
PRE {
	FONT-SIZE: 80%; FONT-FAMILY: Courier, "Courier New", monospace
}
TT {
	FONT-SIZE: 95%; FONT-FAMILY: Courier, "Courier New", monospace
}
FONT.title {
	FONT-SIZE: 180%; COLOR: #cc9933; 
}
H1 {
	FONT-WEIGHT: bold; FONT-SIZE: 150%; 
	COLOR: #1b1f44;
}

H1.sponsor {
	TEXT-ALIGN: middle;
	FONT-SIZE: 150%;
	COLOR: #6699ff;
}

H1.box {
       # 1b1f44
       # f9b610
       # 6699ff
	FONT-WEIGHT: bold; FONT-SIZE: 150%; 
	COLOR: #f9b610;
	border-style: solid;
        border-left-style: double;
	border-top-width: 0px;
	border-bottom-width: 1px;
	border-right-width: 0px;
	border-left-width: 4px;
	border-color: #f9b610;
	padding: 5px;
	background: #fffffe;

}
H1.b {
	FONT-WEIGHT: bold; FONT-SIZE: 130%; COLOR: #6699ff; 
}
H2 {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; COLOR: #6699ff; 
}
H3 {
	FONT-WEIGHT: bold; FONT-SIZE: 110%; COLOR: #cc9933; 
}
H4 {
	FONT-WEIGHT: bold; FONT-SIZE: 100%; COLOR: #990000; 
}
SMALL {
	FONT-SIZE: 100%; 
}
A.small {
	FONT-SIZE: 95%; 
}
A.normal {
	FONT-SIZE: 100%;
	
	TEXT-DECORATION: none;
	COLOR: #cc9933;
}
A.toplink {
	
	TEXT-DECORATION: none;
	COLOR: #cc9933;
}
A.qlink {
	FONT-SIZE: 100%; 
	
	TEXT-DECORATION: none;
	COLOR: #1b1f44;
}
A.netsys {
	FONT-SIZE: 100%;
	TEXT-DECORATION: none;
	#COLOR: #cc9933;
	COLOR: #6699ff;
}
A.big {
	FONT-SIZE: 120%;
	
	TEXT-DECORATION: none;
}
A {
	TEXT-DECORATION: none;
}
A:hover {
	TEXT-DECORATION: underline;
}

.tableTitle {
	FONT-WEIGHT: bold; 
}
.tableExtras {
	FONT-SIZE: 95%; COLOR: #ffffff; 
}
INPUT {
	
}
TEXTAREA {
	
}
INPUT.small {
	FONT-SIZE: 75%; 
}
SELECT.small {
	FONT-SIZE: 75%; 
}
TEXTAREA.small {
	FONT-SIZE: 75%; 
}
P.formerror {
	BORDER-RIGHT: #ff0000 1px solid; PADDING-RIGHT: 4px; BORDER-TOP: #ff0000 1px solid; PADDING-LEFT: 4px; BACKGROUND: #ffeeee; PADDING-BOTTOM: 2px; BORDER-LEFT: #ff0000 1px solid; COLOR: #000000; PADDING-TOP: 2px; BORDER-BOTTOM: #ff0000 1px solid
}
DIV.errors {
	BORDER-RIGHT: #666600 1px dashed; PADDING-RIGHT: 6px; BORDER-TOP: #666600 1px dashed; PADDING-LEFT: 6px; BACKGROUND: #ffeeee; PADDING-BOTTOM: 6px; MARGIN: 4px; BORDER-LEFT: #666600 1px dashed; COLOR: #660000; PADDING-TOP: 6px; BORDER-BOTTOM: #666600 1px dashed
}
DIV.tip {
	BORDER-RIGHT: #00c 1px solid; PADDING-RIGHT: 8px; BORDER-TOP: #00c 1px solid; PADDING-LEFT: 8px; BACKGROUND: #eeeeff; PADDING-BOTTOM: 0px; BORDER-LEFT: #00c 1px solid; COLOR: #000066; PADDING-TOP: 0px; BORDER-BOTTOM: #00c 1px solid
}
TABLE#cal {
	FONT-SIZE: smaller
}
TABLE#cal A {
	TEXT-DECORATION: none
}
TABLE#cal A:hover {
	TEXT-DECORATION: underline
}
TABLE#cal A.day {
	FONT-WEIGHT: bold; FLOAT: right; COLOR: #666666
}
TABLE#cal DIV.event {
	MARGIN-BOTTOM: 2px; PADDING-BOTTOM: 2px; BORDER-BOTTOM: #000000 1px dashed
}
FORM.thin {
	MARGIN-TOP: 0px; MARGIN-BOTTOM: 0px
}
.parameter:unknown {
	content: " "
}
DIV.mirror {
	BORDER-RIGHT: #660000 1px dashed; PADDING-RIGHT: 6px; BORDER-TOP: #660000 1px dashed; PADDING-LEFT: 6px; BACKGROUND: #ffeeee; PADDING-BOTTOM: 6px; MARGIN: 4px; BORDER-LEFT: #660000 1px dashed; COLOR: #660000; PADDING-TOP: 6px; BORDER-BOTTOM: #660000 1px dashed
}

IMG.flag {
	BORDER-RIGHT: #000000 1px solid; BORDER-TOP: #000000 1px solid; BORDER-LEFT: #000000 1px solid; BORDER-BOTTOM: #000000 1px solid
}

IMG.pic {
	#border: #000000 2px solid;
	border: #6699ff 2px solid;
	#width: 110px ;
	height: 140px;
	margin: 1px;
}

IMG.sponsor {
	border: #000000 0px solid;
	width: 100px ;
	margin: 1px;
}
