<footer class="row">
<hr>
<p>
    &copy; 2020 Berkeley Edge Center
</p>
{% if page.tag == "home" %}
<!-- <p>
    <a href=https://www.flickr.com/photos/brainchildvn/2280342987/in/photolist-4tvmwp-3oMA8K-5Tzhbx-KWUwV-bprU3E-cpMweA-bokY9u-fedZUf-brMWkY-oVQgv-eeJKHY-kTyWa-bCkij4-aURhti-bpqnGL-R3xAH-bCkiVD-7hmYde-PMwee-fHHiXZ-bCCvRP-cNvBds-bpFrib-kTyZ2-bpHyPY-e2k5T9-bpqjMG-bCkeua-bCAn82-QUwWq-sNM1p-QUHh7-bUY2b2-cXJKc9-eq36hU-bpqzC3-62z5oE-QUvjw-QUwQo-dH6Chr-pb52dB-KXick-naNjyC-bMYxmF-6VSXRk-eiepfC-JgXew8-9EUvFj-6VWYDq-aabB1h/">
        Banner Photo
    </a> &copy; 2012 Charlie Nguyen
</p> -->
{% endif %}
</footer>
