<div id="navbar" class="row">
    <!-- <div class="col-md-4"> -->
        <!-- <a href="/"> -->
            <!-- <img class="logo" src="/static/img/logo.png" title="Berkeley NetSys Lab"> -->
        <!-- </a> -->
    <!-- </div> -->

        <a class="col-md-2" href="/edgecenter/index.html"><div class="term"></div></a>
        <a class="col-md-2" href="/edgecenter/index.html"><div class="term">Home</div></a>
        <a class="col-md-2" href="/edgecenter/people.html"><div class="term">People</div></a>
        <a class="col-md-2" href="/edgecenter/projects"><div class="term">Projects</div></a>
        <a class="col-md-2" href="/edgecenter/publications.html"><div class="term">Publications</div></a>
</div>
