---
layout: edgecenter/default
title: /Name
tag: edgecenter/home
---
<div class="row welcome-box">
    <div class="col-md-12">
        <div class="row">
            <h1 class="col-md-8">Welcome to Berkeley Edge Center</h1>
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-12 home-left">
        <div class="row">
            <h2>Sponsors</h2> 
        </div>
        <div class="row text-center" id="sponsors">
            <div class="col-md-3"><!--Empty-->
            </div>
            <div class="col-md-3"><!--Intel-->
                <div class="col-md-5"><!--Intel-->
                    <a href="http://www.intel.com/">
                        <img src="/static/img/sponsors/intel.png" alt="Intel">
                    </a>
                </div>
            </div>
            <div class="col-md-4"><!--Intel-->
                <div class="col-md-6"><!--VMware-->
                    <a href="http://www.vmware.com/">
                        <img src="/static/img/sponsors/vmware.jpg" alt="VMware">
                    </a>
                </div>
            </div>
        </div>
        <hr>
        <div class="row">
            {% assign sections = site.data.edgecenter %} 
            {% for section in sections %}
                <div class="netsys-project">
                    {% if section.type == "section" %}
                        <h2> {{ section.title }}</h2>
                    {% elsif section.type == "subsection" %}
                        <h3> {{ section.title }}</h3>
                    {% endif %}
                    <p>{{ section.text }}</p>
                </div>
            {% endfor %}
        </div>
        <div class="row text-center">
            <img src="/static/img/edge-center-stack.png" alt="berkeley edge center">
        </div>
    </div> 
</div>
