---
layout: default
title: People
---

{% assign people = site.data.people | sort: 'name' %}
<div class="row">
    <h1 class="col-md-12">People</h1>

    <div class="col-md-12">
        <a class="btn btn-primary" href="#faculty" role="button">Faculty</a>
        <a class="btn btn-primary" href="#graduate" role="button">Graduate
            Students</a>
        <a class="btn btn-primary" href="#staff" role="button">Post-Docs, Staff,
            and Visitors</a>
        <a class="btn btn-primary" href="#undergraduate"
            role="button">Undergraduate Students</a>
        <a class="btn btn-primary" href="#alumni" role="button">Alumni</a>
    </div>

    <h2 id="faculty" class="col-md-12">Faculty</h2>
    <div class="container-fluid">
    <div class="row">
    {% for person in site.data.people %}
        {% if person.c_cate == "faculty" %}
            {% assign m = fidx | modulo: 6 %}
            {% if m == 0 %}
                </div>
                <div class="row">
            {% endif %}
            {% include person.html person=person %}
            {% capture v %}{% increment fidx %}{% endcapture %}
        {% endif %}
    {% endfor %}
    </div>
    </div>

    <h2 id="graduate" class="col-md-12">Graduate Students</h2>
    <div class="container-fluid">
    <div class="row">
    {% for person in people %}
        {% if person.c_cate == "grad" %}
            {% assign m = gidx | modulo: 6 %}
            {% if m == 0 %}
                </div>
                <div class="row">
            {% endif %}
            {% include person.html person=person %}
            {% capture v %}{% increment gidx %}{% endcapture %}
        {% endif %}
    {% endfor %}
    </div>
    </div>
 
    <h2 id="staff" class="col-md-12">Post-Docs, Staff, and Visitors</h2>
    <div class="container-fluid">
    <div class="row">
    {% for person in people %}
        {% if person.c_cate == "staff" or person.c_cate == "visitor" or person.c_cate == "postdoc" %}
            {% assign m = sidx | modulo: 6 %}
            {% if m == 0 %}
                </div>
                <div class="row">
            {% endif %}
            {% include person.html person=person %}
            {% capture v %}{% increment sidx %}{% endcapture %}
        {% endif %}
    {% endfor %}
    </div>
    </div>

    <h2 id="undergraduate" class="col-md-12">Undergraduate Students</h2>
    <div class="container-fluid">
    <div class="row">
    {% for person in people %}
        {% if person.c_cate == "undergrad" %}
            {% assign m = uidx | modulo: 6 %}
            {% if m == 0 %}
                </div>
                <div class="row">
            {% endif %}
            {% include person.html person=person %}
            {% capture v %}{% increment uidx %}{% endcapture %}
        {% endif %}
    {% endfor %}
    </div>
    </div>

    {% assign alumni = people | group_by: "c_before" | sort: "name" %}
    <h2 id="alumni" class="col-md-12">Alumni</h2>
    <div class="container-fluid">
    <div class="row">
    {% for type in alumni %}
        {% unless type.name == "faculty" %}
            {% assign t_ctr = aidx %}
            <h4 id="alumni" class="col-md-12">{{ type.name | capitalize }} Alumni</h2>
        {% endunless %}
        {% assign people = type.items | sort: "name" %}
        {% for person in people %}
          {% if person.c_cate == "alumni" %}
              {% assign m = aidx | minus: t_ctr | modulo: 6 %}
              {% if m == 0 %}
                  </div>
                  <div class="row">
              {% endif %}
              {% include person.html person=person %}
              {% capture v %}{% increment aidx %}{% endcapture %}
          {% endif %}
        {% endfor %}
    {% endfor %}
    </div>
    </div>

</div>
