---
layout: default
title: Projects
---
<div class="row">
    <h1 >Projects</h1>
    {% for project in site.data.projects  %}
        {% if project.is_ongoing %}
        <div class="netsys-project">
            <h3>
                {% if project.url %}
                    <a href="{{ project.url }}">{{ project.title }}</a>
                {% else %}
                    {{ project.title }}
                {% endif %}
            </h3>
            <p>{{ project.participants }}</p>
            <p style="font-size: 95%">{{ project.desc }}</p>
            <p>
            {% for link in project.links %}
                <a class="btn btn-primary" href="{{ link.url }}" role="button">
                    {% case link.type %}
                    {% when 'paper' %}
                    <span class="glyphicon glyphicon-file"></span>
                    {% when 'slides' %}
                    <span class="glyphicon glyphicon-picture"></span>
                    {% when 'video' %}
                    <span class="glyphicon glyphicon-film"></span>
                    {% when 'code' %}
                    <span class="glyphicon glyphicon-star"></span>
                    {% else %}
                    <span class="glyphicon glyphicon-globe"></span>
                    {% endcase %}
                    {{ link.name }}
                </a>
            {% endfor %}
            </p>
        </div>
        {% endif %}
    {% endfor %}
</div>
