---
layout: default
title: Projects
---
{% assign projects = site.data.projects | sort: 'stage_order' | group_by: 'stage' %}
<div class="row">
    <h1 >Projects</h1>
    <div>
        <a class="btn btn-primary" href="#early" role="button">Early</a>
        <a class="btn btn-primary" href="#new" role="button">New</a>
        <a class="btn btn-primary" href="#ongoing" role="button">Ongoing</a>
        <a class="btn btn-primary" href="#finished" role="button">Finished</a>
    </div>

    {% for type in projects %}
        {% if type.name == "" %}
            {% continue %}
        {% endif %}
        {% assign stage = type.items[0].stage %}
        <h2 id="{{ stage }}">{{ stage | capitalize }} Projects</h2>
        <hr>
        {% assign items = type.items | sort: 'title' %}
        {% for project in items %}
            {% if project.is_ongoing %}
            <div class="netsys-project">
                <h3>
                    {% if project.url %}
                        <a href="{{ project.url }}">{{ project.title }}</a>
                    {% else %}
                        {{ project.title }}
                    {% endif %}
                </h3>
                <p>{{ project.participants }}</p>
                <p style="font-size: 95%">{{ project.desc }}</p>
                <p>
                {% for link in project.links %}
                    <a class="btn btn-primary" href="{{ link.url }}" role="button">
                        {% case link.type %}
                        {% when 'paper' %}
                        <span class="glyphicon glyphicon-file"></span>
                        {% when 'slides' %}
                        <span class="glyphicon glyphicon-picture"></span>
                        {% when 'video' %}
                        <span class="glyphicon glyphicon-film"></span>
                        {% when 'code' %}
                        <span class="glyphicon glyphicon-star"></span>
                        {% else %}
                        <span class="glyphicon glyphicon-globe"></span>
                        {% endcase %}
                        {{ link.name }}
                    </a>
                {% endfor %}
                </p>
            </div>
            {% endif %}
        {% endfor %}
    {% endfor %}
</div>
